.navbar {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    word-spacing: 5px;
    
}

header {
    background-image: url(https://github.com/754Bree/Ip-week-4/blob/master/Images/Pizza%201st%20Background%20picture.jpg?raw=true);
    height: 220px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
}


















/*header {
    text-align: center;
}*/